
<% flash.each do |type, message| %>
  <div class="alert <%= flash_class(type)%>">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&nbsp;&nbsp;&times;</span>
    </button>
    <%= message %>
  </div>
<% end %>