<div class=".container-fluid">
  <div align="center">
    <h1>Bienvenidos al Sitio de Administración</h1>
    <h1>de la Cátedra Taller de Ruby</h1>
    <%=image_tag("ruby.jpg", class: "img-fluid")%>
  </div>
</div>